logs
log
project/project
project/target
project/.sbtserver
project/.sbtserver.lock
target
tmp
.history
*.tmp
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver

/styx-grpc-test-api
/chartrepo
CHANGELOG.html

    
native/